<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Aman Dwivedi</title>

    <!-- Favicon Link -->
    <link rel="icon" href="../static/images/favicon.png">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">

    <!--  Bootstrap Link-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!--Main CSS File-->
    <link href="../static/css/s1.css" rel="stylesheet">

    <!--    Font Awesome-->
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/a7f55d6ecb.js"></script>
    <script crossorigin="anonymous"
            integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>
<body id="body">
<!-- Navigation Bar -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarScroll">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#resume">Resume</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navigation Bar End -->

<!-- Home Screen -->
<section id="home">
    <div class="container-fluid">
        <h1>Aman Dwivedi</h1>
        <span>I'm a junior majoring in Computer Science</span>
        <div>
            <a href="https://github.com/Aman-Dwivedi"><i class="fa-brands fa-github fa-3x"></i></a>
            <a href="https://www.linkedin.com/in/aman-dwivedi-5438471b4/"><i class="fa-brands fa-linkedin-in fa-3x"></i></a>
        </div>
    </div>
</section>
<!-- Home Screen End -->

<!-- About Me -->
<section id="about">
    <h2>ABOUT ME</h2>
    <p>I am a junior studying at the University of Arizona and majoring in Computer Science.</p>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <img class="profile-pic" src="../static/images/profile.jpg" alt="">
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Name:</strong>
                                <span>Aman Dwivedi</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong>
                                <span>www.amandwivedi.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong>
                                <span>+1 520 910 8976</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Tucson, USA</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong>
                                <span>20</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong>
                                <span>Bachelor's of Science in Computer Science</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-12">
                        <div class="skill">Python<i>100%</i></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                 style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="skill"> Java <i>100%</i></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                 style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="skill"> HTML <i>90%</i></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                 style="width: 90%"
                                 aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="skill"> CSS <i>80%</i></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                 style="width: 80%"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="skill"> SQL <i>80%</i></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                 style="width: 80%"
                                 aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="skill"> Javascript <i>50%</i></div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-label="Basic example"
                                 style="width: 50%"
                                 aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Me End -->

<!-- My Resume -->
<section id="resume" class="resume">
    <div class="container">

        <div class="section-title">
            <h2>My Resume</h2>
            <a href="../static/Resume.pdf">Download</a>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <h3 class="resume-title">Summary</h3>
                <div class="resume-item pb-0">
                    <h4>Aman Dwivedi</h4>
                    <p><em>...</em></p>
                    <p>
                    <ul>
                        <li>550 N 5th Avenue, Tuscon, AZ</li>
                        <li>(520) 910-8976</li>
                        <li>adwivedi@arizona.edu</li>
                    </ul>
                    </p>
                </div>

                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Bachelor's of Science in Computer Science</h4>
                    <h5>2020-2024</h5>
                    <p><em>University of Arizona, Tuscon, AZ</em></p>
                    <ul>
                        <li>GPA: 4.0</li>
                        <li>Merit Scholarship $35000/year</li>
                        <li>Awarded Dean’s List with Distinction Academic Recognition Fall 2020, Fall 2021, Spring
                            2022
                        </li>
                        <li>Awarded Honorable Mention Academic Recognition Spring 2021</li>
                        <li>Awarded Academic Year Highest Academic Distinction Spring 2022</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <h3 class="resume-title">Related Experience</h3>
                <div class="resume-item">
                    <h4>Undergraduate Teaching Assistant</h4>
                    <h5>Aug 2021 - Present</h5>
                    <p><em>University of Arizona Department of Computer Science</em></p>
                    <p>
                    <ul>
                        <li>Hold weekly office hours to clarify student questions which enabled essential curriculum
                            understanding
                        </li>
                        <li>Hold weekly supplemental instructions sections with 8-10 students to reinforce lecture
                            topics and provide additional study resources to students
                        </li>
                        <li>Assist instructor with grading assignments and exams</li>
                    </ul>
                    </p>
                </div>
                <div class="resume-item">
                    <h4>Blue Chip Leadership Program</h4>
                    <h5>Aug 2021 - Dec 2021</h5>
                    <p><em>University of Arizona</em></p>
                    <p>
                    <ul>
                        <li>Participated in a Leadership program which focused on design thinking</li>
                        <li>Worked in a group to tackle problems on campus using design thinking</li>
                    </ul>
                    </p>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End My Resume Section -->

<!-- My Portfolio -->
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="section-title">
            <h2>My Portfolio</h2>
            <strong>Here are a few projects I believe are worth mentioning. To take a look at all of my projects, please
                visit my <a href="https://github.com/Aman-Dwivedi">Github page</a>.</strong>
        </div>
        <div class="row">
            <div class="project-block col-lg-4 ml-auto">
                <a href="{{ url_for('display_project', id=1) }}">
                    <img class="project-img" src="../static/images/digit.png" alt="image"/>
                </a>
                <div class="project-description">
                    Hand Written Digit Recognition
                </div>
            </div>
            <div class="project-block col-lg-4  ml-auto">
                <a href="{{ url_for('display_project', id=2) }}">
                    <img class="project-img" src="../static/images/stock.jpg" alt="image"/>
                </a>
                <div class="project-description">
                    Stock Update
                </div>
            </div>
            <div class="project-block col-lg-4 ml-auto">
                <a href="{{ url_for('display_project', id=3) }}">
                    <img class="project-img" src="../static/images/spotify.png" alt="image"/>
                </a>
                <div class="project-description">
                    Spotify Playlist Creator
                </div>
            </div>
        </div>
    </div>
</section>

<!-- End My Portfolio Section -->

<!-- Contact Me -->
<section id="contact">
    <div class="container">
        <div class="section-title">
            <h2>Contact Me</h2>
        </div>
        <div class="row">
            <div class="contact-box col-lg-4">
                <i class="fa-solid fa-envelope fa-4x"></i>
                <h4>Email Me At</h4>
                <div class="connect">adwivedi@arizona.edu</div>
            </div>
            <div class="contact-box col-lg-4">
                <i class="fa-brands fa-linkedin-in fa-4x"></i>
                <h4>Lets Connect</h4>
                <div class="connect"><a href="https://www.linkedin.com/in/aman-dwivedi-5438471b4/">LinkedIn Profile</a>
                </div>
            </div>
            <div class="contact-box col-lg-4">
                <i class="fa-brands fa-square-instagram fa-4x"></i>
                <h4>Instagram</h4>
                <div class="connect"><a href="https://www.instagram.com/_aman_dwivedi/">Instagram Profile</a></div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Me End -->

<!-- Footer -->
<footer id="footer">

    <p>© Copyright {{year}} Aman Dwivedi</p>

</footer>

</body>
</html>